:root{
    --scheduler-bgcolor: black;
    --scheduler-border: 1px solid black;
    --scheduler-cell-size: 75px;
}

.scheduler > .row{
    border: var(--scheduler-border);
    height: var(--scheduler-cell-size);
    overflow-x: scroll;
    flex-wrap: nowrap;
}
.scheduler > .row > .cell{
    border-left: var(--scheduler-border);
    width: var(--scheduler-cell-size);

}
.scheduler > .row > .cell:nth-child(1){
    border-left: none;

}
.scheduler > .row > .cell:nth-last-child(1){
    border-right: var(--scheduler-border);

}
