:root{
    --bg-color: rgba(211,145,332);
    --btn-xtrem-width: 175px;
    --btn-xtrem-height: 45px;
    --btn-xtrem-border: 1px solid grey;

    --btn-xtrem-shadow-x: 2px;
    --btn-xtrem-shadow-y: 2px;
    --btn-xtrem-shadow-blur: 2px;
    --btn-xtrem-shadow-spread: 2px;
    --btn-xtrem-shadow-color: rgba(0,0,0,0.5);


}

button.btn-shadow{
    position: absolute;
    --bg-color: rgba(0,0,0,0.9);
    --btn-xtrem-border: 1px solid rgba(0,0,0,0.9);
    left: -webkit-calc((-1 * (var(--btn-xtrem-width) + 5px)) + var(--btn-xtrem-shadow-x));
    top: var(--btn-xtrem-shadow-y);
    z-index: 1000 !important;
    transition: left 0.1s ease-in-out, top 0.1s ease-in-out;
}
button.btn-xtrem:hover + button.btn-shadow{
    left: -webkit-calc((-1 * (var(--btn-xtrem-width) + 5px - 4px)) + var(--btn-xtrem-shadow-x));
    top: -webkit-calc(var(--btn-xtrem-shadow-y) + 2px);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: teal;
}




button{
    line-height: var(--btn-xtrem-height);
    vertical-align: middle;
    text-align: center;
    border: 0;
    background: none;
}
button:hover{
    cursor: pointer;
}

button.btn-xtrem{
    position: relative;
    z-index: 5000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: var(--btn-xtrem-width);
    height: var(--btn-xtrem-height);
    transition: top 0.05s ease-in-out;
}
button.btn-xtrem:hover{
    top: -1px;
}
button.btn-xtrem::after{
    position: absolute;
    content: "";
    height: -webkit-calc(var(--btn-xtrem-height) / 2);
    width: var(--btn-xtrem-width);
    top: 0;
    left: -webkit-calc((var(--btn-xtrem-height) / 2) / 2);
    border-top: var(--btn-xtrem-border);
    border-right: var(--btn-xtrem-border);
    background-color: var(--bg-color);
    box-sizing: border-box;
}

button.btn-xtrem::before{
    position: absolute;
    content: "";
    height: -webkit-calc(var(--btn-xtrem-height) / 2);
    width: var(--btn-xtrem-width);
    left: -webkit-calc(-1 * ((var(--btn-xtrem-height) / 2) / 2));
    top:-webkit-calc(var(--btn-xtrem-height) / 2);
    border-bottom: var(--btn-xtrem-border);
    border-left: var(--btn-xtrem-border);
    background-color: var(--bg-color);
    box-sizing: border-box;
}

button.btn-xtrem > span{
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:none;
    border: none;
    box-sizing: border-box;
}

button.btn-xtrem > span::before{
    position: absolute;
    z-index: -100;
    content: "";
    top: 0;
    left: -webkit-calc((var(--btn-xtrem-height) / 2) /2 );
    width: 35px;
    height: -webkit-calc(var(--btn-xtrem-height) / 2);
    transform: skew(-45deg);
    transform-origin: top left;
    border-left: var(--btn-xtrem-border);
    border-top: var(--btn-xtrem-border);
    background-color: var(--bg-color);
    box-sizing: border-box;
} 

button.btn-xtrem > span::after{
    position: absolute;
    z-index: -100;
    content: "";
    transform-origin: bottom right;
    bottom: 0;
    right : -webkit-calc((var(--btn-xtrem-height) / 2) / 2);
    width: 35px;
    height: -webkit-calc((var(--btn-xtrem-height) / 2));
    transform: skew(-45deg);
    border-right: var(--btn-xtrem-border);
    border-bottom: var(--btn-xtrem-border);
    background-color: var(--bg-color);
    box-sizing: border-box;
} 




.svg-xtrem{
    clip-path: url("#myPath");
}